

.hero-container{
    background: url(/src/images/glassware.jpg);
    /* display: flex; */
    background-size:cover;
    
 
   
   
   width: 98vw;
  height: 100vh;
}

.category-image{
    width: 300px;
    height: 200px;
    padding:15px;
    cursor: pointer;
}
.featured-brands{
    display:grid;
    grid-area:10px;
    flex-direction:row
}
.brand-image{
    padding:4rem;
}
.info{
    position: absolute;
  bottom:0;
  right: 0;
  background-color: aqua;
}