

.title{
   text-align: left;
   padding: 3 rem;
   border:3 rem;
}
.container{
   display:flex;
   background-color: rgb(220, 227, 220);
   
  /* align-content: baseline; */
  position:fixed;
}
.search-bar{
   align-self: center;
}
nav{
   display: flex;
   height:10vh;
   align-items: center;
}